In [1]:
import pickle

In [6]:
pickle_in = open("msftdf.pickle","rb")
df = pickle.load(pickle_in)

In [7]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,year,month,day_of_week,...,change,change_in_percentage,ema_12,ema_26,ema_50,ema_100,ema_200,MACD,Signal,Returns
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.061751,1031788800,1986,3,3,...,0.008680,9.803,0.061751,0.061751,0.061751,0.061751,0.061751,0.000000,0.061751,NaN
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.063956,308160000,1986,3,4,...,0.003472,3.571,0.062090,0.061914,0.061837,0.061794,0.061773,-0.000176,0.062192,-0.342167
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065059,133171200,1986,3,0,...,0.001737,1.725,0.062547,0.062147,0.061963,0.061859,0.061805,-0.000400,0.062765,-0.353893
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.063405,67766400,1986,3,1,...,-0.002605,-2.543,0.062679,0.062240,0.062020,0.061890,0.061821,-0.000439,0.062893,-0.381002
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.062302,47894400,1986,3,2,...,-0.001736,-1.739,0.062621,0.062245,0.062031,0.061898,0.061826,-0.000376,0.062775,-0.375895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8852,2021-04-27,261.579987,263.190002,260.119995,261.970001,261.970001,31014200,2021,4,1,...,0.390015,0.149,257.905186,251.839982,244.966438,235.618489,221.186499,-6.065204,259.255130,0.001606
8853,2021-04-28,256.079987,256.540009,252.949997,254.559998,254.559998,46903100,2021,4,2,...,-1.519989,-0.594,257.390542,252.041465,245.342656,235.993569,221.518574,-5.349077,258.316104,-0.028286
8854,2021-04-29,255.460007,256.100006,249.000000,252.509995,252.509995,40589000,2021,4,3,...,-2.950012,-1.155,256.639688,252.076171,245.623728,236.320627,221.826946,-4.563517,257.154882,-0.008053
8855,2021-04-30,249.740005,253.080002,249.600006,252.179993,252.179993,30929200,2021,4,4,...,2.439987,0.977,255.953581,252.083861,245.880837,236.634674,222.128966,-3.869720,256.159904,-0.001307
8856,2021-05-03,253.399994,254.350006,251.119995,251.860001,251.860001,19598900,2021,5,0,...,-1.539993,-0.608,255.323800,252.067279,246.115314,236.936165,222.424798,-3.256520,255.299923,-0.001269

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8857 entries, 0 to 8856
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8857 non-null   datetime64[ns]
 1   Open                  8857 non-null   float64
 2   High                  8857 non-null   float64
 3   Low                   8857 non-null   float64
 4   Close                 8857 non-null   float64
 5   Adj Close             8857 non-null   float64
 6   Volume                8857 non-null   int64
 7   year                  8857 non-null   int64
 8   month                 8857 non-null   int64
 9   day_of_week           8857 non-null   int64
 10  week                  8857 non-null   UInt32
 11  day                   8857 non-null   int64
 12  change                8857 non-null   float64
 13  change_in_percentage  8857 non-null   float64
 14  ema_12                8857 non-null   float64
 15  ema_26                8857 non-null   float64
 16  ema_50                8857 non-null   float64
 17  ema_100               8857 non-null   float64
 18  ema_200               8857 non-null   float64
 19  MACD                  8857 non-null   float64
 20  Signal                8857 non-null   float64
 21  Returns               8856 non-null   float64
dtypes: UInt32(1), datetime64[ns](1), float64(15), int64(5)
memory usage: 1.5 MB